body 
{
  background-color: #fef5fb;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding-top: 80px;
}

h1 
{
  font-size: 36px;
  color: #b84bbf;
}

input 
{
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 2px solid #a8edc3;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fff0f6;
  color: #3b3b3b;
}

button 
{
  padding: 10px 20px;
  background-color: #d9f99d;
  color: #2d2d2d;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
 
}

button:hover 
{
  background-color: #c1f080;
}

#weatherBox 
{
  background-color: #f9e6ff;
  border: 2px solid #b3ffc8;
  padding: 25px;
  width: 300px;
  margin: 30px auto 0;
  font-size: 18px;
  color: #4b2e5e;
  border-radius: 10px;
  box-shadow: 0 0 12px #baffde88;
}
